body {
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.button-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}

.login-button {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.login-button:hover {
  background-color: #45a049;
}

.logout-button {
  background-color: #f44336; /* Rojo */
  color: white;
}

.logout-button:hover {
  background-color: #d32f2f;
}
